<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.your.mall"
    android:installLocation="preferExternal">
    <!--网络访问-->
    <uses-permission android:name="android.permission.INTERNET" />
    <!--装载和卸载文件系统-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!--读取手机状态和身份-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!--震动-->
    <!-- <uses-permission android:name="android.permission.VIBRATE" />-->
    <!--装载和卸载文件系统-->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <!--查看网络连接-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!--修改系统设置-->
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <!--直接拨打电话号码-->
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.GET_TASKS" />

    <!--蓝牙权限  -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <application
        android:name=".application.MallApplication"
        android:allowBackup="true"
        android:icon="@drawable/app_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <!-- 程序启动入口，同时做是否第一次运行APP判断 WelcomeActivity-->
        <activity
            android:name=".activity.WelcomeActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.MallNoTitle.CustomerBackground">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.TestActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MallNoTitle.CustomerBackground" />

        <!-- 主页面 -->
        <!-- android:launchMode="singleInstance"--><!--页面退出方式有变化-->
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />

        <!-- 引导页 -->
        <activity
            android:name=".activity.GuideActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />

        <!-- 开屏页 -->
        <activity
            android:name=".activity.SplashActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MallNoTitle.CustomerBackground" />

        <!--登录-->
        <activity
            android:name=".activity.LoginActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/JK.SwipeBack.Transparent.Theme" />

        <!--注册-->
        <activity
            android:name=".activity.RegisterActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/JK.SwipeBack.Transparent.Theme" />

        <!--下一步注册页面-->
        <activity
            android:name=".activity.SecondRegisterActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/JK.SwipeBack.Transparent.Theme" />

        <!--用户注册协议-->
        <activity
            android:name=".activity.RegisterAgreementActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/JK.SwipeBack.Transparent.Theme" />

        <!--忘记密码-->
        <activity
            android:name=".activity.ForgotPasswordActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/JK.SwipeBack.Transparent.Theme" />

        <!--重置密码-->
        <activity
            android:name=".activity.ResetPasswordActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/JK.SwipeBack.Transparent.Theme" />

        <!--设置-->
        <activity
            android:name=".activity.SettingActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/JK.SwipeBack.Transparent.Theme" />

        <!--账户与安全-->
        <activity
            android:name=".activity.SafeActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/JK.SwipeBack.Transparent.Theme" />

        <!--修改登录密码-->
        <activity
            android:name=".activity.ChangePasswordActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/JK.SwipeBack.Transparent.Theme" />

        <!--订单管理页面-->
        <activity
            android:name=".activity.OrderManagementActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/JK.SwipeBack.Transparent.Theme" />

        <!--订单结算页面-->
        <activity
            android:name=".activity.OrderTallyActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/JK.SwipeBack.Transparent.Theme" />

        <!--购物车订单结算页面-->
        <activity
            android:name=".activity.CartOrderTallyActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/JK.SwipeBack.Transparent.Theme" />

        <!--订单详情-->
        <activity
            android:name=".activity.OrderDetailsActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/JK.SwipeBack.Transparent.Theme" />

        <!--取消订单-->
        <activity
            android:name=".activity.CancelOrderActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/JK.SwipeBack.Transparent.Theme" />

        <!--订单支付-->
        <activity
            android:name=".activity.PaymentActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/JK.SwipeBack.Transparent.Theme" />

        <!--物流信息-->
        <activity
            android:name=".activity.LogiInfoActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/JK.SwipeBack.Transparent.Theme" />

        <!--我的评价-->
        <activity
            android:name=".activity.MyRateActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/JK.SwipeBack.Transparent.Theme" />

        <!--优惠券-->
        <activity
            android:name=".activity.CouponActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/JK.SwipeBack.Transparent.Theme" />

        <!--我的收藏-->
        <activity
            android:name=".activity.CollectActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/JK.SwipeBack.Transparent.Theme" />

        <!--我的足迹-->
        <activity
            android:name=".activity.MyZujiActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/JK.SwipeBack.Transparent.Theme" />

        <!--地址管理-->
        <activity
            android:name=".activity.AddressActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/JK.SwipeBack.Transparent.Theme" />

        <!--新增收货地址-->
        <activity
            android:name=".activity.AddAddressActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/JK.SwipeBack.Transparent.Theme" />

        <!--关于我们-->
        <activity
            android:name=".activity.AboutUsActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/JK.SwipeBack.Transparent.Theme" />

        <!--搜索页面-->
        <activity
            android:name=".activity.SearchActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/JK.SwipeBack.Transparent.Theme" />

        <!--搜索结果展示页面-->
        <activity
            android:name=".activity.SearchResultActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/JK.SwipeBack.Transparent.Theme" />

        <!--商品详情-->
        <activity
            android:name=".activity.GoodsDetailsActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/JK.SwipeBack.Transparent.Theme" />

        <!--商品评价-->
        <activity
            android:name=".activity.GoodsRateActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/JK.SwipeBack.Transparent.Theme" />

        <!--购物车的Activity页面-->
        <activity
            android:name=".activity.ShoppingCartActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/JK.SwipeBack.Transparent.Theme" />

        <!--摇一摇页面-->
        <activity
            android:name=".activity.YaoYiYaoActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/JK.SwipeBack.Transparent.Theme" />

        <!--友阿公益-->
        <activity
            android:name=".activity.YourGongyiActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/JK.SwipeBack.Transparent.Theme" />

        <!--领劵中心-->
        <activity
            android:name=".activity.GetCouponActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/JK.SwipeBack.Transparent.Theme" />

        <!--热门资讯-->
        <activity
            android:name=".activity.ContentInfoActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/JK.SwipeBack.Transparent.Theme" />

        <!--聚实惠-->
        <activity
            android:name=".activity.TopicActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/JK.SwipeBack.Transparent.Theme" />

        <!--店铺主页-->
        <activity
            android:name=".activity.ShopHomepageActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/JK.SwipeBack.Transparent.Theme" />

        <!--拼团-->
        <activity
            android:name=".activity.PintuanActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/JK.SwipeBack.Transparent.Theme" />

        <!--拼团活动规则-->
        <activity
            android:name=".activity.PintuanRuleActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/JK.SwipeBack.Transparent.Theme" />

        <!--拼团抽奖详情页-->
        <activity
            android:name=".activity.PintuanCjDetailsActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/JK.SwipeBack.Transparent.Theme" />

        <!--拼团抽奖中奖名单-->
        <activity
            android:name=".activity.PintuanWinListActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/JK.SwipeBack.Transparent.Theme" />

        <!--拼团详情页-->
        <activity
            android:name=".activity.PintuanDetailsActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/JK.SwipeBack.Transparent.Theme" />

        <!--我的拼团-->
        <activity
            android:name=".activity.MyPintuanActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/JK.SwipeBack.Transparent.Theme" />

        <!--会员中心拼团抽奖详情-->
        <activity
            android:name=".activity.CenterPintuanCjDetailsActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/JK.SwipeBack.Transparent.Theme" />

        <!--会员中心拼团详情-->
        <activity
            android:name=".activity.CenterPintuanDetailsActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/JK.SwipeBack.Transparent.Theme" />

        <!--砍价-->
        <activity
            android:name=".activity.BargainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/JK.SwipeBack.Transparent.Theme" />

        <!--砍价活动规则-->
        <activity
            android:name=".activity.BargainRuleActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/JK.SwipeBack.Transparent.Theme" />

        <!--砍价详情-->
        <activity
            android:name=".activity.BargainDetailsActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/JK.SwipeBack.Transparent.Theme" />

        <!--我的砍价-->
        <activity
            android:name=".activity.MyBargainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/JK.SwipeBack.Transparent.Theme" />

        <!-- 微信分享回调 -->
        <activity
            android:name="com.your.mall.wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <!-- OneKeyShare 核心功能 -->
        <activity
            android:name="com.mob.tools.MobUIShell"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <intent-filter>
                <data android:scheme="tencent1104880259" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>


    </application>
</manifest>
